<aside class="footer-widgets">
	<div class="inner-wide">
		<div class="widget-area">
			<div class="footer-col first">
				<section class="widget widget-recent-posts">
					<h2 class="widget-title">Latest Posts</h2>
					{{#get "posts" limit="3"}}
					<ul>
						{{#foreach posts}}
						<li>
							{{#if image}}
							<a href="{{url}}" class="recent-thumb" style="background-image: url({{image absolute="true"}});"><span class="screen-reader-text">{{title}}</span></a>
							{{/if}}
							<div class="recent-title"><a href="{{url}}">{{title}}</a></div>
							<div class="recent-date">{{date format="MMMM DD, YYYY"}}</div>
						</li>
						{{/foreach}}
					</ul>
					{{/get}}
				</section><!-- .widget -->
			</div>
			<div class="footer-col middle">
				<section class="widget widget-tags">
					<h2 class="widget-title">Tags</h2>
					<div class="tagcloud">
						{{#get "tags" limit="all" order="name asc"}}{{tags separator=""}}{{/get}}
					</div>
				</section><!-- .widget -->
			</div>
			<div class="footer-col last">
				<section class="widget widget-instagram">
					<h2 class="widget-title">{{@blog.title}} on @instagram</h2>
					<div id="instafeed" class="instagram-feed"></div>
				</section><!-- .widget -->
			</div>
		</div><!-- .widget-area -->
	</div><!-- .inner-wide -->
</aside><!-- .footer-widgets -->
