<header class="site-header">
	<div class="inner-wide">
		{{#if @blog.logo}}
		<h1 class="site-title"><a href="{{@blog.url}}"><img src="{{@blog.logo}}" alt="{{@blog.title}}" /></a></h1>
		{{else}}
		<h1 class="site-title"><a href="{{@blog.url}}">{{@blog.title}}</a></h1>
		{{/if}}
		{{#if @blog.navigation}}
		{{navigation}}
		{{/if}}
		<a class="sidebar-toggle"><span class="screen-reader-text">Open Sidebar</span><span class="icon" aria-hidden="true"></span></a>
	</div><!-- .inner-wide -->
</header><!-- .site-header -->
