{{!< default}}
{{!-- The tag above means - insert everything in this file into the {body} of the default.hbs template --}}

{{!-- Everything inside the #post tags pulls data from the page --}}
{{#post}}
<main class="site-main">
	<div class="site-content">

		<article class="{{post_class}}">
			<header class="cover post-header">
				{{#if image}}
				<div class="cover-bg" style="background-image: url({{image}})"></div>
				{{/if}}
				<div class="cover-content">
					<div class="inner">
						{{#if tags}}
						<div class="tag-links">
							{{tags separator=""}}
						</div><!-- .tag-links -->
						{{/if}}
						<h1 class="post-title">{{title}}</h1>
						<a href="#" class="scroll-down square light"><i class="icon-chevron-down" aria-hidden="true"></i><span class="screen-reader-text">Scroll Down</span></a>
					</div><!-- .inner -->
				</div><!-- .cover-content -->
			</header><!-- .cover -->
			<div class="post-content inner">
				{{content}}
			</div><!-- .post-content -->
		</article><!-- .post -->

	</div><!-- .site-content -->
</main><!-- .site-main -->
{{/post}}
